fastapi==0.115.6
uvicorn[standard]==0.34.0
opencv-python-headless==4.11.0.86
mediapipe==0.10.21
deepface==0.0.93
tensorflow==2.19.0
tf-keras==2.19.0
protobuf==4.25.8
pydantic==2.10.6
numpy==1.26.4
joblib==1.4.2
